.clients {
    /* background-color: #f6f8fc; */
    margin-bottom: 8rem;
    padding: 1rem 0;
}

.clients p {
    font-family: 'Lora', serif;
    color: black;
    text-align: center;
    font-size: 25px;
}

.client-item {
    justify-content: center;
    align-items: center;
    background-color: #d9dde6;
    border: 1px solid transparent;
    height: 110px;
    border-radius: 16px;
    width: 110px;
    margin: 0.7rem;
}

.client-item img {
    width: 110px;
}

.content-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 1024px) {
    .content-group {
        flex-direction: column;
    }

    .content-card {
        margin: 0 0.5rem;
    }

    .client-item {
        width: 100%;
        margin: 1rem auto;
    }

    .one {
        width: 15%;
        height: 70px;
    }

    .two {
        width: 20%;
        height: 85px;
    }

    .three {
        width: 40%;
        height: 90px;
    }


    .four {
        width: 50%;
        height: 100px;
    }
    .five {
        width: 40%;
        height: 90px;
    }


    .six {
        width: 20%;
        height: 85px;
    }
    .seven {
        width: 15%;
        height: 70px;
    }
}